{# <h1>Home Page</h1> #}

 {% extends 'base.html.twig' %} 
 {% block title %}accueuil{% endblock %}

{# //cache menu #}
{# {% block nav %}
    
{% endblock %} #}
{% block body %}
    <h1>Home page</h1>
    <span>name:{{name}}</span>
    <p>text</p>
{% endblock %}